$black = #060608
$violet = #6871F1
$red = #de4307
$white = #ffffff
$red = #fa4248
$blue = deepskyblue
$dark-blue = #141E30
$orange = orange
$green = yellowgreen

$blue-gradient = radial-gradient(circle, lightblue, deepskyblue)
$green-gradient = radial-gradient(circle, palegreen, yellowgreen)
$orange-gradient = radial-gradient(circle, yellow, orange)


$blue-rick = #02b1c8
$green-rick =#7ffa67

$text-shadow = 0.02em 0.02em 0.02em #7ffa67, -0.02em -0.02em 0.02em #7ffa67, 0 0 0.2em #7ffa67

